[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=2.2.14,<2.3"
django-environ = "*"
django-filter = "*"
django-storages = "*"
django-taggit = "*"
django-extensions = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
djangorestframework-gis = "*"
drf-yasg = "*"
dj-static = "*"
"psycopg2-binary" = "*"
requests = "*"
"boto3" = "*"
"geoip2" = "*"
celery = "*"
gunicorn = "*"
pytest = "*"
pytest-django = "*"
pytest-mock = "*"
pytest-cov = "*"
"flake8" = "*"
raven = "*"
pillow = "*"
minio = "*"
pyfcm = "*"
pytest-factoryboy = "*"
whitenoise = "*"
requests-mock = "*"

[dev-packages]
docker-compose = "*"
locustio = "*"
pygraphviz = "*"
pydotplus = "*"
